.hero {
  background: none;
}

.header {
  padding-top: 70px;
  padding-bottom: 50px;
  color: #555555;
  position: static;
  border-bottom: 1px solid #5555552f;
  margin-bottom: 134px;
}

.header .mobile_menu {
  border-color: #555555;
}

.back_link {
  font-size: 14px;
  letter-spacing: -0.3px;
  margin-bottom: 30px;
}

.back_link img {
  margin-right: 13px;
}

main {
  max-width: 840px;
}

main .container {
  padding: 0 15px;
}

h1 {
  text-align: start;
  font-size: 48px;
  margin-bottom: 30px;
  text-decoration: none;
}

p {
  font-size: 20px;
  line-height: 180%;
  margin-bottom: 60px;
}

.about__img {
  max-width: 809px;
  height: 420px;
  margin-bottom: 60px;
  border-radius: 6px;
}

.features {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__item {
  text-align: left;
  margin-bottom: 67px;
}

.features__item_heading {
  font-size: 96px;
  line-height: 110%;
  color: #E3DAD0;
}

.features__item_text {
  font-size: 20px;
  line-height: 180%;
}

h2 {
  font-size: 32px;
  line-height: 150%;
  font-weight: 300;
  margin-bottom: 42px;
}

.testimonial {
  background-color: #EEE4DA;
  margin-bottom: 140px;
  padding: 60px;
  border-radius: 6px;
}

.testimonial__text {
  font-size: 20px;
  line-height: 180%;
}

.testimonial__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../assets/images/signature_alt.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.testimonial__user_img {
  margin-right: 25px;
}

.testimonial__user_name h3 {
  font-size: 24px;
  line-height: 130%;
  font-weight: 400;
}

.testimonial__user_name span {
  font-size: 13px;
  line-height: 130%;
}

/* adaptive --------------------*/
@media (max-width: 426px) {
  .header {
    margin-bottom: 80px;
  }
  .back_link {
    margin-bottom: 20px;
  }
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .about__img {
    margin-bottom: 40px;
    height: 300px;
  }
  .about__img img {
    height: 100%;
  }
  .features {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 33px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .features__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
    margin-bottom: 30px;
  }
  .features__item_heading {
    font-size: 66px;
    letter-spacing: -0.3px;
  }
  .features__item_text {
    font-size: 16px;
  }
  h2 {
    font-size: 27px;
    margin-bottom: 30px;
  }
  .testimonial {
    padding: 30px 20px 50px;
    margin-bottom: 70px;
  }
  .testimonial__text {
    font-size: 16px;
  }
}
