.hero {
  background: none;
  height: auto;
}

.header {
  padding-top: 70px;
  padding-bottom: 50px;
  color: #555555;
  position: static;
  border-bottom: 1px solid #5555552f;
  margin-bottom: 102px;
}

.header .mobile_menu {
  border-color: #555555;
}

h1 {
  font-size: 48px;
  margin-bottom: 38px;
  text-decoration: none;
}

.contacts__img {
  margin-bottom: 38px;
  max-width: 100%;
}

.contacts__img img {
  max-width: 100%;
}

.contacts__card {
  margin-bottom: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.contacts__card_inner {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 314px;
          flex: 1 1 314px;
  padding: 40px;
  background-color: #EEE4DA;
  border-radius: 8px;
}

.contacts__card_inner p {
  font-size: 16px;
  opacity: 0.3;
  margin-bottom: 11px;
}

.contacts__card_inner a {
  font-size: 21px;
  line-height: 110%;
}

.contacts__map {
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 73px;
}

.gallery {
  margin-bottom: 110px;
}

.gallery__inner {
  margin-bottom: 50px;
}

.gallery__heading {
  font-size: 32px;
}

.gallery__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 450px;
          flex: 0 1 450px;
}

.gallery__links .circle {
  background-color: #EEE4DA;
  width: 62px;
  height: 62px;
  cursor: pointer;
}

.form {
  height: 752px;
  margin-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 650px;
          flex: 0 1 650px;
  background-image: url(../assets/images/form_img.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.form__heading {
  font-size: 36px;
  line-height: 110%;
  margin-bottom: 30px;
}

.form__logo {
  margin-bottom: 70px;
}

.form label {
  font-size: 13px;
  line-height: 110%;
  margin-bottom: 15px;
  color: #AC8F78;
}

.form input {
  font-size: 20px;
  line-height: 110%;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: none;
  margin-bottom: 30px;
}

.form__submit {
  width: 362px;
  border-radius: 66px;
  background-color: #EEE4DA;
  position: relative;
  background-image: url(../assets/icons/arrow_next_alt.svg);
  background-repeat: no-repeat;
  background-position: 250px center;
}

.form__submit input {
  position: relative;
  padding: 28px 0;
  cursor: pointer;
  width: 100%;
  border: none;
  margin: 0;
}

/* adaptiove ---------- */
@media (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }
  .form {
    height: auto;
  }
  .form__img {
    background-size: cover;
    height: 500px;
  }
}

@media (max-width: 426px) {
  .header {
    margin-bottom: 50px;
  }
  h1 {
    font-size: 36px;
  }
  .contacts__img {
    width: 100%;
  }
  .contacts__card {
    margin-bottom: 50px;
  }
  .contacts__card_inner {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 20px;
  }
  .contacts__map {
    height: 500px;
    margin-bottom: 90px;
  }
  .contacts__map img {
    height: 100%;
  }
  .gallery {
    margin-bottom: 90px;
    padding: 0;
  }
  .gallery__heading {
    font-size: 22px;
  }
  .gallery__links .circle {
    width: 52px;
    height: 52px;
  }
  .form {
    height: auto;
    margin-bottom: 70px;
  }
  .form form {
    width: 100%;
    margin-bottom: 70px;
  }
  .form__logo {
    margin-bottom: 40px;
  }
  .form__submit {
    width: 100%;
    background-position: 75% center;
  }
}
