@import 'colors';



.hero {
    background: none;
}

.header {
    padding-top: 70px;
    padding-bottom: 50px;
    color: $font_main_color;
    position: static;
    border-bottom: 1px solid #5555552f;
    .mobile_menu {
        border-color: $font_main_color;
    }

    margin-bottom: 134px;
}

.back_link {
    font-size: 14px;
    letter-spacing: -0.3px;
    margin-bottom: 30px;

    img {
        margin-right: 13px;
    }
}

main {
    max-width: 840px;

    .container {
        padding: 0 15px;
    }
}

h1 {
    text-align: start;
    font-size: 48px;
    margin-bottom: 30px;
    text-decoration: none;
}

p {
    font-size: 20px;
    line-height: 180%;
    margin-bottom: 60px;
}

.about__img {
    max-width: 809px;
    height: 420px;
    margin-bottom: 60px;
    border-radius: 6px;
}

.features {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        text-align: left;
        margin-bottom: 67px;

        &_heading {
            font-size: 96px;
            line-height: 110%;
            color: #E3DAD0;
        }

        &_text {
            font-size: 20px;
            line-height: 180%;
        }
    }
}

h2 {
    font-size: 32px;
    line-height: 150%;
    font-weight: 300;
    margin-bottom: 42px;
}

.testimonial {
    background-color: $bg_alt_color;
    margin-bottom: 140px;
    padding: 60px;
    border-radius: 6px;

    &__text {
        font-size: 20px;
        line-height: 180%;
    }

    &__user {
        display: flex;
        align-items: center;
        background-image: url(../assets/images/signature_alt.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    
        &_img {
            margin-right: 25px;
        }

        &_name {
            h3 {
                font-size: 24px;
                line-height: 130%;
                font-weight: 400;
            }

            span {
                font-size: 13px;
                line-height: 130%;
            }
        }
    }
}

/* adaptive --------------------*/

@media (max-width: 426px){
    .header{
        margin-bottom: 80px;
    }

    .back_link{
        margin-bottom:20px;
    }

    h1{
        font-size: 36px;
    }

    p{
        font-size: 16px;
        margin-bottom: 40px;
    }

    .about__img{
        margin-bottom: 40px;
        height: 300px;
        img{
            height: 100%;
            
        }
    }

    .features{
        flex-direction: row;
        gap: 33px;
        justify-content: center;
        margin-bottom: 50px;
        &__item{
            flex: 1 1 45%;
            margin-bottom: 30px;
            &_heading{
                font-size: 66px;
                letter-spacing: -0.3px;
            }
            &_text{
                font-size: 16px;
            }
        }
    }

    h2{
        font-size: 27px;
        margin-bottom: 30px;
    }
    
    .testimonial{
        padding: 30px 20px 50px;
        &__text{
            font-size: 16px;
        }
        margin-bottom: 70px;
    }
}