@import 'colors';



.hero {
    background: none;
}

.header {
    padding-top: 70px;
    padding-bottom: 50px;
    color: $font_main_color;
    position: static;

    .mobile_menu {
        border-color: $font_main_color;
    }

    margin-bottom: 134px;
}

.back_link {
    font-size: 14px;
    letter-spacing: -0.3px;
    margin-bottom: 30px;

    img {
        margin-right: 13px;
    }
}

main {
    max-width: 840px;

    .container {
        padding: 15px;
    }
}

h1 {
    text-align: start;
    font-size: 48px;
    margin-bottom: 30px;
    text-decoration: none;
}

p {
    font-size: 20px;
    line-height: 180%;
    margin-bottom: 60px;
}

.about__img {
    max-width: 809px;
    height: 420px;
    margin-bottom: 60px;
    border-radius: 6px;
}

.features {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        text-align: left;
        margin-bottom: 67px;

        &_heading {
            font-size: 96px;
            line-height: 110%;
            color: #E3DAD0;
        }

        &_text {
            font-size: 20px;
            line-height: 180%;
        }
    }
}

h2 {
    font-size: 32px;
    line-height: 150%;
    font-weight: 300;
    margin-bottom: 42px;
}

.testimonial {
    background-color: $bg_alt_color;
    margin-bottom: 140px;
    padding: 60px;
    border-radius: 6px;

    &__text {
        font-size: 20px;
        line-height: 180%;
    }

    &__user {
        display: flex;
        align-items: center;
        background-image: url(../assets/images/signature_alt.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    
        &_img {
            margin-right: 25px;
        }

        &_name {
            h3 {
                font-size: 24px;
                line-height: 130%;
                font-weight: 400;
            }

            span {
                font-size: 13px;
                line-height: 130%;
            }
        }
    }
}